<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>26Controls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>846382711F822D8B00FFFF73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8463828A1F822D8C00FFFF73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846382951F822D8C00FFFF73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
